* {
  margin: 0px;
  padding: 0px;
  font-family: 'Audiowide', cursive;
  font-family: 'Bungee Inline', cursive;
  cursor: default;
  --Mobile: 375px;
  --Desktop: 1440px;
  --SoftRed: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --DarkBrown: hsl(25, 47%, 15%);
  --MediumBrown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --VeryPaleOrange: hsl(33, 100%, 98%);
  --FontSize: 18px;
  --space: 20px;
}

.attribution {
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  width: 100vw;
  height: 95vh;
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--Mobile);
}

.myBalance {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: var(--SoftRed);
  border-radius: 10px;
  padding: var(--space);
  box-sizing: border-box;
}

#logo {
  height: 40px;
}

.spending {
  margin-top: 15px;
  width: 100%;
  height: var(--Mobile);
  background-color: white;
  border-radius: 10px;
  padding: var(--space);
  box-sizing: border-box;
  color: var(--MediumBrown);
}

.darkBrown {
  color: var(--DarkBrown);
}

.barGraph {
  height: 55%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-bottom: 1px solid var(--MediumBrown);
  margin-bottom: var(--space);
}

.bar {
  text-align: center;
  width: 2.5rem;
}

.amount {
  background-color: var(--DarkBrown);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 7%;
  color: white;
  font-size: small;
  width: fit-content;
}

.days {
  background-color: var(--SoftRed);
  height: 10rem;
  width: 1.9rem;
  border-radius: 5px;
  margin: auto;
}

.bar>p {
  text-align: center;
}

.days:hover {
  cursor: pointer;
}

.total {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.fromLastMonth {
  text-align: right;
}

@media screen and (max-width:500px) {
  .container {
    width: 90vw;
    height: fit-content;
  }
}